<!-- Navbar -->
<nav class="navbar navbar-expand-lg px-5" style="background-color: #c0392b">
  <a class="navbar-brand d-flex align-items-center text-light" href="#" routerLink="/home">
    <img src="assets/images/SkillBridgeLogoWhite.png" alt="Logo" height="70" class="me-2" />
    SkillBridge
  </a>
  <div class="d-flex ms-auto gap-2">
    <!-- If navBarValue is null, show default buttons -->
    <ng-container *ngIf="navBarValue === null">
      <button routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="btn btn-outline-light px-4 py-2 rounded-pill">
        Register
      </button>
      <button routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="btn btn-outline-light px-4 py-2 rounded-pill">
        Login
      </button>
    </ng-container>
    <!-- If navBarValue is '0' -->
    <ng-container *ngIf="navBarValue === '0'">
      <button routerLinkActive="active" class="btn btn-outline-light px-4 py-2 rounded-pill">
        Manage Companies
      </button>
      <button routerLinkActive="active" class="btn btn-outline-light px-4 py-2 rounded-pill">
        List Users
      </button>
      <button routerLinkActive="active" class="btn btn-outline-light px-4 py-2 rounded-pill">
        Profile
      </button>
      <button routerLink="/home" (click)="logout()" class="btn btn-outline-light px-4 py-2 rounded-pill">
        Logout
      </button>
    </ng-container>
    <!-- If navBarValue is '1' -->
    <ng-container *ngIf="navBarValue === '1'">
      <button routerLink="/profile-candidate" routerLinkActive="active"
        class="btn btn-outline-light px-4 py-2 rounded-pill">
        Profile
      </button>
      <button routerLink="/home" (click)="logout()" class="btn btn-outline-light px-4 py-2 rounded-pill">
        Logout
      </button>
    </ng-container>
    <!-- If navBarValue is '2' -->
    <ng-container *ngIf="navBarValue === '2'">
      <button class="btn btn-outline-light px-4 py-2 rounded-pill" routerLink="/addoffers" routerLinkActive="active">
        Create Offer
      </button>
      <button routerLink="/profile-company" routerLinkActive="active"
        class="btn btn-outline-light px-4 py-2 rounded-pill">
        Profile
      </button>
      <button routerLink="/home" (click)="logout()" class="btn btn-outline-light px-4 py-2 rounded-pill">
        Logout
      </button>
    </ng-container>
  </div>
</nav>

<router-outlet></router-outlet>